.header{
  display:flex;
	justify-content: flex-start;
	align-items: center;
}

.label {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.input {
  width : 40rem
}

#submitRequest {
  margin: 1rem 0 2rem 2rem;
  padding: 0.3rem;
  background-color: rgb(227, 72, 72);
  color: lightgoldenrodyellow;
  font-size: 18px;
  
}

.serviceRequests {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  width: 40rem;
 
  
}

.requestDisplay {
  background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-style: solid;

}

.logo{
  max-height: 10rem;
	padding: 10px;
	border-radius: 10pc;
}